<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <title>Document</title>

</head>
<body>
    
    <div class="divone">
       <h5>Main door</h5>
        <form action="/maindooropen" method= "post">
            <button type="submit" class="button_on">Open</button>
        </form>

        <form action="/maindoorclosed" method="POST">
            <button type="submit" class="button_off">Close</button>
        </form>
    </div>

    <div class="divtwo">
        <h5>Bedroom Door</h5>
        <form action="/bedroomdooropen" method= "post">
            <button type="submit" class="button_on">Open</button>
        </form>
 
        <form action="/bedroomdoorclosed" method="POST">
            <button type="submit" class="button_off">Close</button>
        </form>
    </div>

    <div class="divthree">
        <h5>Bedroom light</h5>
        <form action="/bedroomlighton" method= "post">
            <button type="submit" class="button_on">Turn on</button>
        </form>
 
        <form action="/bedroomlightoff" method="POST">
            <button type="submit" class="button_off">Turn off</button>
        </form>
    </div>
    
    <div class = "divliving">
        <h5>Living Room</h5>
        <form action="/livingon" method= "post">
             <button type="submit" class="button_on">Turn on</button>
         </form>
 
         <form action="/livingoff" method="POST">
             <button type="submit" class="button_off">Turn off</button>
         </form>
     </div>
 
     <div class="divkitchen">
        <h5>Kitchen</h5> 
        <form action="/kitchenon" method= "post">
             <button type="submit" class="button_on">Turn on</button>
         </form>
  
         <form action="/kitchenoff" method="POST">
             <button type="submit" class="button_off">Turn off</button>
         </form>
     </div>
 
     <div class="divgarage">
        <h5>Garage</h5> 
        <form action="/garageon" method= "post">
             <button type="submit" class="button_on">Turn on</button>
         </form>
  
         <form action="/garageoff" method="POST">
             <button type="submit" class="button_off">Turn off</button>
         </form>
     </div>  
     
     <div class="divtvone">
        <h5>Tv #1</h5>
        <form action="/tv1on" method= "post">
            <button type="submit" class="button_on">Turn on</button>
        </form>
 
        <form action="/tv1off" method="POST">
            <button type="submit" class="button_off">Turn off</button>
        </form>
    </div>

    <div class="divtvtwo">
        <h5>Tv #2</h5>
        <form action="/tv2on" method= "post">
            <button type="submit" class="button_on">Turn on</button>
        </form>
 
        <form action="/tv2off" method="POST">
            <button type="submit" class="button_off">Turn off</button>
        </form>
    </div>  
    <h1>{{name}}</h1>

</body>
</html>